.nav-link {
    color: white;
    margin: auto;
}

.bar {
    background-color: #000C66;
    height: 64px;
    display: flex;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

@media (max-width: 860px)
{
    .background {
        padding: 0;
    }
}

.spacer {
    padding: 16px 0;
}