.section-container{
    padding: 24px 0;
    display: flex;
    justify-content:space-between;
}

.section-container-mobile {
    display:block;
}

.picture-container{
    width: 47%;
    margin: auto 0;
}

.picture-container-mobile{
    width: auto;
    height: 48%;
    margin: auto;
}

.picture {
    margin:auto;
    max-width: 100%;
    max-height: 300px;
}
.description {
    width: 47%;
    margin:auto 0;
    text-align: left;
}

.description p {
    text-align: justify
}

.description-mobile {
    width: 100%;
    margin: 32px auto;
}

h3 {
    margin-top: 0;
}

.leftSide {
    display:flex;
    margin: auto 0;
}

.btn-link {
    background-color: #0000FF;
    padding: 6px 8px 8px 8px;
    text-decoration: none;
    border-radius: 8px;
    border: solid black 1px;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
    color:white;
    transition: background-color 0.25s;
}
.btn-link:hover {
    background-color: #000C66;
}
